
.pin {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.pin .pin-button {
    background-color: rgb(129, 205, 178);
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
}
